*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.section-main{
    width: 100%;
    background-size: cover;
    background-position: center;
}
.header1{
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
.navlist a{
    margin: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #111;
}
.header2{
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}
.header3{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 30px;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.navbar div a{
    text-decoration: none;
    margin: 20px;
    font-size: 20px;
    font-weight: 500;
    color: #111;
    transition: all .50s ease;
}
.section-main1{
    width: 100%;
    height: 410px;
}
.product-text{
    display: flex;
    font-size: 20px;
    font-weight: 400;
    color: #666565;
} 
.red-span{
    color: #AD2131;
    font-size: 20px;
    font-weight: 400;
}   
.product{
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 60px;
}
.homes{
    text-decoration: none;
    color: #AD2131;
}
.product-main{
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.product-images1 img{
    margin: 10px 10px;
}
.footer{
    margin-top: 150px;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 20px;
}
.footer-main{
    display: flex;
    justify-content: space-between;
}
.footer-nav{
    margin-top: 20px;
}
.footer-nav a{
    text-decoration: none;
    color: #666565;
}
.footer1{
    height: 225px;
    margin-top: 100px;
    padding-left: 15%;
    padding-right: 15%;
    background: #ECECEC;
}
.footer1-main1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
}
.footer-navbar a{
    margin: 5px;
}
.imagess{
    padding-left: 50px;
}
footer{
    margin-top: 10px;
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    justify-content: space-between;
}
.popular{
    margin-top: 100px;
    width: 100%;
}
.popular-main{
    padding-left: 15%;
    padding-right: 15%;
}
.popular-main h1{
    font-size: 48px;
    font-weight: 700;
}
.img12{
    display: flex;
    justify-content: center;
}
.img12 div{
    margin: 10px 10px;
}
.img1-1{
    height: 440px;
    width: 383px;
    background: #ECECEC;
}
.img1-2{
    height: 440px;
    width: 383px;
    background: #ECECEC;
}
.img1-3{
    height: 440px;
    width: 383px;
    background: #ECECEC;
}
.main0i2mg{
    margin-top: 50px;
}
.img22{
    display: flex;
    justify-content: center;
}
.img22 div{
    margin: 10px 10px;
}
.img1-111{
    height: 440px;
    width: 383px;
    background: #ECECEC;
}
.img1-222{
    height: 440px;
    width: 383px;
    background: #ECECEC;
}
.img1-333{
    height: 440px;
    width: 383px;
    background: #ECECEC;
}
.img01aushev{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.aushev{
    padding-top: 50px;
}
.classs{
    text-align: center;
    font-size: 18px;
}
.classss{
    padding-left: 59px;
}
.img1-2-1{
    display: flex;
    align-items: center;
    padding-top: 50px;
    justify-content: center;
}
.h1-product{
    font-size: 48px;
    font-weight: 700;
    color: #333333;
    text-transform: uppercase;
    margin-top: 60px;
}
.moyki{
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 60px;
}
.moyka-h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 0em;
    text-align: left;
}
.moyka-h1{
    margin-top: 40px;
}
.moyki-main{
    margin-top: 30px;
}
.categaria{
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #000;
    display: flex;
}
.categori-ul{
    list-style: none;
}
.categori-ul li{
    margin-top: 20px;
    display: flex;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
}
.number{
    color: #A6A6A6;
    padding-left: 10px;
}
.material{
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #000;
}
.material-main{
    margin-top: 40px;
}
.metod{
    margin-top: 40px;
}
.moyki-main1{
    width: 383px;
}
.moyki-main{
    display: flex;
}
.moyka-p{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #AD2131;
    display: flex;
}
.vniz {
    display: flex;
    align-items: center;
    margin-left: 5px;
}
.moyka-images1 div{
    margin: 10px 10px;
}
.contact-a{
    display: flex;
}
.contact-a a{
    text-decoration: none;
    margin: 20px 0px;
    color: #AD2131;
    font-weight: 600;
    font-size: 20px;
}
.contact-a a.activnuy{
    color: #666565;
    padding-left: 50px;
}
.text-contacta{
    color: #A6A6A6;
}
.contact-div{
    width: 413px;
    height: 702px;
    background: #ECECEC;
    margin-left: 100px;
}
.maiinnn{
    margin-top: 20px;

}
.contact-div-main{
    padding-left: 40px;
    padding-right: 40px;
}
.svyazi{
    margin-top: 60px;
}
.contact-div-main h1{
    font-size: 18px;
    font-weight: 800;
    padding-top: 30px;

}
.svyazi input{
    margin: 10px 0px;
}
.loginn{
    width: 341px;
    height: 70px;
    border: none;
}
.loginn::placeholder{
    font-size: 16px;
    font-weight: 400;
    padding-left: 20px;    
}
.emaill::placeholder{
    font-size: 16px;
    font-weight: 400;
    padding-left: 20px;    
}
.smss::placeholder{
    font-size: 16px;
    font-weight: 400;
    padding-left: 20px;    
}
.emaill{
    width: 341px;
    height: 70px;
    border: none;
}
.smss{
    width: 341px;
    height: 232px;
    border: none;
}
.btn-con{
    width: 341px;
    height: 70px;
    top: 985px;
    left: 1223px;
    background: #AD2131;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}
.soglasie{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #666565;
    margin-top: 10px;
}
.maps{
    width: 100%;
    height: 460px;
    background: url(../images/\(Группа\ обтравки\).png);
    background-position: center;
    background-size: cover;
}
.novinka{
    width: 90px;
    height: 26px;
    background: #2D9CDB;
    display: flex;
    align-items: center;
    color: #fff;
    padding-left: 10px;
}
.text-block12{
    font-size: 18px;
    font-weight: 800;
    padding-top: 60px;
}
.textblock-main{
    font-size: 20px;
    font-weight: 400;
}
.div-akciaaa{
    display: flex;
}
.akcia{
    width: 69px;
    height: 26px;
    background: #F2994A;
    display: flex;
    align-items: center;
    color: #fff;
    padding-left: 10px;
}
    .moykaimagess12{
    margin-top: 30px;
}
.newyork-main{
    display: flex;
    margin-top: 100px;
}
.newyork-main div{
    margin: 0 20px;
}
.newyork-main2 h1{
    font-size: 48px;
    font-weight: 700;

}
.akcia-png{
    padding-left: 5px;
}
.gray{
    font-size: 16px;
    font-weight: 500;
    color: #666565;
}
.div-cena{
    width: 383px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 910px;
}
.ryb{
font-size: 24px;
font-weight: 500;
}
.sravnitx{
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
}
.navbar div a:hover{
    color: #AD2131;
    text-shadow: 0 0 30px #111;
}
/* загрузка */
#loading{
    background-color: #ECECEC;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    margin-top: 0px;
    top: 0px;
}
#loading-center{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    }
.object{
    width: 20px;
    height: 20px;
    background-color:#FFF;
    position: absolute;
    left: 65px;
    top: 65px;
    }
.object:nth-child(2n+0) {
    margin-right: 0px;

}
.loaderr{
    width: 300px;
    animation-name: rotation;
    animation-duration: 1.7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    padding-right: 20px;

}
/* @keyframes rotation {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
} */
.loading-main2 {
    color: #111;
    font-size: 45px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    transform: translateZ(0);
    animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
    margin: 20px;
    left: 110px;
    top: -20px;
  }
  .loader {
    color: #111;
    font-size: 45px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    transform: translateZ(0);
    animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
    margin: 20px;
    
  }
  
  @keyframes mltShdSpin {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em,
      0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 
      0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, 
      -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, 
      -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
       -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, 
       -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
       -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, 
       -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 
      0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  
  @keyframes round {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
  }